{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
 		{% if messages %}
          <ul>
        	{% for message in messages %}
            	<li> <strong> {{ message }} </strong> </li>
        	{% endfor %}
         </ul>
        {% endif %}
    {% endwith %}
</div>


<div class="row">
	<div class="col-sm-12">
	{% if loggedin == True %}
		<h4>
			<a href="{{url_for('addAuthor')}}" class="add">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			Add New Author</a>
		</h4>
	{% endif %}
	</div>
</div>


<div class="row">

	<div class="col-sm-4">
		<h3>All Authors</h3>
		<ul class="authorlist">
		{% for a in authors %}
			<li><a href="{{url_for('showOneAuthor', author_id=a.id)}}">{{a.firstName}} {{a.lastName}} </a></li>
			
		{% endfor %}
		</ul>
	</div>

	<div class="col-sm-8">
		<div class="row">
			<h3>Recent books added</h3>
		</div>
		<div class="row">
		{% if booklist !=[] %}	
		{% for b in booklist %}
			<div class="book-entry">
				<a href="{{url_for('showBook', author_id=b.author_id, book_id=b.id)}}">
					<h3><span class="title">{{b.title}}</span></h3></a>
				<p>By:  <span class="entries">{{b.author}}</span></p>
				<p>Description: <span class="entries">{{b.description}}</span></p>
			</div>
		{% endfor %}
		{% endif %}
		</div>



</div>

{% endblock %}